
<div id="news_result">
      <% @newscast.each_with_index do |n,i| %>
        <div id="news_search_result">
          <%=  link_to n.title, newscast_path(n) %><br/>
          <small>posted <%= time_ago_in_words(n.created_at) %> ago</small>
        </div>
      <% end %>
    </div>