
<%= form_for :batch, url:{action:'select',format:@time,t:@time1},method: :get,remote:true,html:{id: "batch_form"} do |f| %>

      <%=f.select :id, @batches.uniq.collect{|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name, b.id]},{prompt:'Select a batch'},{onchange:"$('#batch_form').submit();",class: "form-control",style:"width:250px"} %>  
    <%end%>
</div>
<br>
<div id="batch_div"></div>