<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div align="center">
<font color="purple"><b><i><h3>Axenic School</h3>
<h4>Time Table</h4></i></b></font>
</div>

<table class="table" align="center" style="width:900px">
<thead>

</thead>
<tbody>
<tr><td colspan="4"></td></tr>
<tr>
    <td class="col-2" colspan="4"><font color="brown">Time Table</font></td>
</tr>

<tr>
  <td class="col-2" colspan="4"></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>