<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Timetable',time_tables_path %></li>
    
    <li>Institutional Timetable</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>
<br/>
<div id="time">
	<%= render 'institutional_time_table' %>
</div> 


 
    


       