<div id="content-header">
  <h1>Timetable</h1>
  <h3>Institutional Timetable</h3>
  <div id="app-back-button">
  <%= link_to image_tag("buttons/back.png",:border => 0), :back  %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">
  <div>
  	 <div id="time">
       <%= render 'institutional_time_table' %>
     </div>
</div>
</div> 


 
    


       