

<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2></h2>
    </div>
    <div class="box-content" style="overflow-y: scroll; height:auto">
     <table id="datatable" class="table table-striped responsive">
     <thead>

      <tr>
            <th>Employee Name</th>
            <th>Employee Id</th>
            <th>Employee Department</th>
      </tr>
      </thead>
      <tbody>
      <%@employees.each do |emp|%>
          <tr>
                <td col-md-1><%= link_to emp.first_name,profile_employees_path(emp)%></td>
                <td col-md-1><%= emp.id%></td>
                <td col-md-1><%= emp.employee_department.name%></td>
         </tr>
      <%end%>
      </tbody>  
      </table>
  </div>

 </div>
 </div>
 </div>

 
