
 <div class="col-md-1"></div>
      <table id="listing" align="center" width="30%" cellpadding="1" cellspacing="1">
      <tr class="tr-head" align="center">
            <th>Employee Name</th>
           
      </tr>

      <%@employees.each do |emp|%>
          <tr>
                <td col-md-1><%=link_to "#{emp.first_name} #{emp.last_name} (#{emp.employee_number})",
                employees_monthly_payslip_path(emp)%></td>
         </tr>
      <%end%>  
      </table>