<h1>Payroll</h1>

<div id="page-yield">

  

<table class="table table-hover" align="center" style="width:900px">
<thead style="background-color:white">
<tr>
    <th colspan="4">
   <div id ="student_main_info">
      
   </th>
  </tr>
</thead>
<tbody>



<tr style="background-color:white">
<td colspan="4"><%= link_to 'Edit',employees_edit_profile_path(@employee),class: "btn btn-primary" %>
<%= link_to 'PDF Report','',class: "btn btn-success" %></td>
</tr>
</tbody></table>
</div>