<br/>
<div class="row">
  <div class="col-md-11 col-md-offset-1">

  <%= form_for :subject_assignment, url:{action:'assign_subject_disp',format:@subject}, method: :get,remote:true,html:{id: "user"} do |f|%>
   <b>Select a Subject:</b>
      <%= f.select :subject_id, @subject.all.collect {|b| [b.name,b.id]},{prompt:"Select a Subject"},{onchange:"$('#user').submit();",class: "form-control",style:"width:300px"} %>  
    <%end%>
  </div>
</div>
	<div id="subject_list"></div>