<br/>
<div class="row">
  <div class="col-md-12">

  <%= form_for :subject_assignment, url:{action:'assign_subject_disp',format:@subject}, method: :get,remote:true,html:{id: "user"} do |f|%>
      <%= f.select :subject_id, @subject.all.collect {|b| [b.name,b.id]},{prompt:"Select Subject"},{onchange:"$('#user').submit();",class: "form-control",style:"width:350px"} %>  
    <%end%>
  </div>
</div>
	<div id="subject_list"></div>