<h2>Assign New</h2>

<table class="tabel" style="width:400px">
	<%@employee.each do |emp|%>
	<tr>
		<td><%=emp.first_name%></td>
		<td><%= link_to "Assign",employees_assign_employee_path(emp,@subject),method: :post,remote:true%></td>
	</tr>
	<%end%>

</table>

<div id="assigned_emp"></div>