<h2>Assign New</h2>

<table class="tabel" style="width:400px">
	<%@employees.each do |emp|%>
	<%is_assigned=EmployeeSubject.find_by_employee_id_and_subject_id(emp.id,@subject.id)%>
	<%if is_assigned.nil?%>
		<tr>
			<td><%=emp.first_name%></td>
			<td><%= link_to "Assign",employees_assign_employee_path(emp,@subject,department_id:@department.id),method: :post,remote:true%></td>
		</tr>
	<%end%>
	<%end%>

</table>

<div id="assigned_emp"></div>
<div id="emp_list"></div>