<%= form_for @employee ,url:{action:'update_reporting_manager'} do |f|%>

	<%=@reporting_manager.first_name%>
	<%= f.hidden_field :reporting_manager_id,value: @reporting_manager.id%>
	<tr><td colspan="4"><%=f.submit "►Save and Proceed",class: "btn btn-primary" %></td></tr>	
<% end %>