
<%=form_for :payslip,url:{action:'one_click_payslip_revert'} do |f| %>

	<table>
			<tr>
				<td><b>Salery Date:</b></td>
				<td><%=f.date_field :joining_date,:value => Time.now.strftime('%Y-%m-%d')%></td>
			</tr>

			<tr>
				<td><%=f.submit :'►go',class:'btn btn-primary'%></td>
			</tr>

	</table>

<%end%>
