

<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2>Employee Details</h2>
    </div>
   <div class="box-content">


<% if @employee.nil? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
<% if @employee.empty? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
 <div class="col-md-1"></div>
  <table id="datatable" class="table table-striped table-bordered responsive">
      <thead>
      <tr>
            <th>Employee Name</th>
            <th>Employee Id</th>
            <th>Employee Department</th>
      </tr>
       </thead>
       <tbody>
      <%@employee.each do |emp|%>
       
          <tr>
                <td col-md-2><%= link_to emp.full_name,profile_employees_path(emp)%></td>
                <td col-md-2><%= emp.id%></td>
                <td col-md-2><%= emp.employee_department.name%></td>
         </tr>
      <%end%> 
      </tbody> 
      </table>
  <% end %>
  <%end%>
</div>
</div>
</div>
</div>
