<div id="content-header">
  <h1>Settings</h1>
  <h3>HR Settings</h3>

</div>

<div id="page-yield">
	<div id="box">

      <div class="link-box">
        <div class="link-heading"><%= link_to "Add Employee Category",employees_new_category_path %></div>
        <div class="link-descr">Add and Edit Employee Category</div>
      </div>

    
      <div class="link-box">
        <div class="link-heading"><%= link_to "Add Employee Department",employees_new_department_path %></div>
        <div class="link-descr">Add and Edit Employee Department</div>
      </div>

        <div class="link-box">
        <div class="link-heading"><%= link_to "Add Employee Position",employees_new_position_path %></div>
        <div class="link-descr">Add and Edit Employee Position</div>
      </div>

   </div>
</div>