<div id="content-header">
   <hr class="fancy-line"></hr>
  <h1>Monthly Payslip</h1>
  <h3>create</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), "" %>
  </div>
 <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to 'Add new Category',employees_payroll_category_path(@employee),remote:true %></li>
  </ul>
</div>
<div id="page-yield">
<div id="box">

<div class="row">
<div class="col-md-6">
  <div id="payslip"><%= render 'monthly_payslip_form'%></div>
</div>
<div class="col-md-4">
<br/><br/><br/><br/>
<div id="payslip"></div>
</div>
<div class="col-md-2"></div>
</div></div>  