<div id="content-header">
  <h1>Employee Settings</h1>
  <h3>Employee Category</h3>
    <div id="app-back-button">
  <%= link_to image_tag("buttons/back.png",:border => 0), '/employees/settings' %>
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>
</div>
<div id="page-yield">
	<div id="add_category">
		<%=render 'category'%>
	</div>
	<div id="myModal" class="modal fade">
 	</div>
 </div>

