
<div id="content-header">
  <h1>Employee Settings</h1>
  <h3>Add Bank Details</h3>
    <div id="app-back-button">
  <%= link_to image_tag("buttons/back.png",:border => 0), '/employees' %>
  </div>
</div>

<div id="page-yield">
<div id="add_bank_field">
<%=render 'bank_field'%>
</div>
<div id="myModal" class="modal fade">
 </div>
 
</div>

