<div id="content-header">
  <h1>Employee Settings</h1>
  <h3>Add Position</h3>
    <div id="app-back-button">
  <%= link_to image_tag("buttons/back.png",:border => 0), '/employees/settings' %>
  </div>
</div>

<div id="page-yield">



<div id="add_position">
<%=render 'position'%>

</div>
<div id="myModal" class="modal fade">
 </div>
 
</div>
