<div id="content-header">
  <h1>Payroll</h1>
  <h3>Add new category</h3>
  <div id="app-back-button">
  <%= link_to image_tag("buttons/back.png",:border => 0), '/employees' %>
  </div>
</div>
<div id="page-yield">
	<div id="add_payroll_category">
		<%=render 'payroll_category'%>
	</div>
		<div id="myModal" class="modal fade">
 	</div>
</div>