
<div id="content-header">
  <h1>Employee Settings</h1>
  <h3>Employee Department</h3>
</div>

<div id="page-yield">
	<div id="add_department">

		<%=render 'department'%>

	</div>

	<div id="myModal" class="modal fade">
 	</div>
 	
</div>
