<div class="box"> 


  
	<%= form_for :subject_assignment, url:{action:'assign_subject'}, method: :get,remote:true,html:{id: "user_form"} do |f|%>

	<div class="label-field-pair">
		<%=f. label :'Select Course'%>
		<div  class="text-input-bg">
   		 <%= f.select :id, Batch.all.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]},{prompt:true},{onchange:"$('#user_form').submit();"}%></div></div>

   		<%end%>

	 <div id="subject_div"></div>
</div>