

<ul id="comments-list" style ="width:980px" style="height:40px">
<li id="comment-item-290" style ="width:980px">
  <div class="comment-details" style ="width:980px" style="height:30px">
    <div class="commenter"><%#= comment.author.first_name %><%= 'Admin' %> </div>
    <div class="delete-comment"><%= link_to  'Delete',[comment.newscast,comment],	method: :delete %></div>
    <div class="comment-posted-at">posted <%= time_ago_in_words(comment.created_at) %> ago</div>
  </div>
  <div class="comment-content" style ="width:980px"><%= sanitize  comment.statement.strip.gsub("\n", "<br/>"),:tags => %w[b i a ], :attributes => %w[href] %></div>
</li>
</ul>

