<% if @students.empty? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
 <table align="center" class="table table-hover table-bordered" style="width:800px">
        <tr class="tr-head">
        <td class="col-1">Sr. No.</td>
        <td class="col-2">Student Name</td>
        <td class="col-1">Admission No.</td>
        <td class="col-3"></td>
      </tr>
    </thead>
  <tbody>
  <% sr_no=1 %>
      <% @students.each do |student| %>
        <tr>
          <td class="col-1"><%= sr_no %></td>
          <td class="col-2"><%= student.first_name+' '+student.last_name  %></td>
          <td class="col-1"><%= student.admission_no %></td>
          <td class="col-3"><%= link_to 'View Profile',students_profile_path(student) %></td>
        </tr>
        <% sr_no+=1 %>
      <% end %>   
    </tbody>
  </table>
  <% end %>