<div id="content-header">
  <h1>Student</h1>
  <h3>Electives</h3>
    <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), subjects_path %>
  </div>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>

<div class="name">Batch</div><div class="val"><span>:</span><%= @batch.name %></div>
