<div class="page-header">
 <div><h3>Students<small>&nbsp;&nbsp;View All</small></h3></div></div>


 	<div align="center">
		<%= form_for :batch, url:{action:'select'},method: :get,remote:true do |f| %>
		<%= f.label :select %>
	    <%= f.select :id, @batches.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]},prompt:true%>
	    <%= f.submit "GO"%>
		<% end %>
	</div>
		
<div id="student_view_all"></div> 
			

