

<% unless flash[:class_designation_notice].nil? %>
    <div align="center" class="alert alert-success" style="width:100%"> <%= flash[:class_designation_notice] %> </div>
  <%end%>

<div class="add_sub",style="margin-top:200px">
 <%= link_to 'Add',course_class_designations_path(@course),remote: true%>
</div> 
   <table align="center" class="table table-hover" style="width:800px">
  <thead>
  	<tr class="tr-head">
        <th colspan="4">Class Designations</th>
     </tr>
  </thead>
    <tbody class="product-index">
      <%= render 'new' %>
    </tbody>

</table>
