<hr>
<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2>Batches Transfer</h2>
    </div>

    <div class="box-content" style="overflow-y: scroll; height:auto">
      <table id="datatable" class="table table-striped table-bordered responsive">
        <thead>
          <tr>
            <th>Batch Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% @course.batches.each do |batch| %>
          <tr>
            <td>
              <%= batch.batch_course_code %>
            </td>
            <td class="center">
              <div class="label-primary label label-default">
              <i class="glyphicon glyphicon-share icon-white"></i> 
              <%= link_to 'Batch Transfer', transfer_batch_transfer_path(batch),class: "a-action"%></div>

              <div class="label-primary label label-default">
              <i class="glyphicon glyphicon-flag icon-white"></i> 
              <%= link_to 'Graduation',
              graduation_batch_transfer_path(batch), class: "a-action"%></div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
  </div>

</div>
