<strong>Graduating batch:<%= @batch.name %></strong>
<p> These students will now be trasferred to former students database. Add the status description for the students. e.g. 'Graduated 10th grade, 2010 </p>
