
<div class="page-header" style="height:10%">
<div class="row">
<div class="col-md-6">
<h2>Courses</h2>
    <div><h5>Manage batches</h5></div></div>
<div class="col-md-6"><a href="/batches"><button class="btn btn-success pull-right" style="margin-top:20px">Back</button></a></div>  
</div>
  
</div>



<%= form_for :batch_transfer, url: batch_transfers_path do |f| %>
<tabel>
<tr>
<td>select a course</td>
<td><%= select("course1","id",Course.all.collect{|p| [p.course_name,p.id]})%></td>
<td><%=@course_id%> </td>
</tr>
</tabel>
 <div id="stage">
      
 </div>

<script type="text/javascript">
   $(document).ready(function() {
      $("#course1_id").change(function(event){

            var a = $("#course1_id").val();
           $.ajax( {
             url:'/batch_transfers/'+a,
             success:function(data) {
                $('#stage').html(data);
             }
          });
      });
   });
</script>
<% end %>
 
 