<% unless flash[:grading_level_notice].nil? %>
    <div align="center" class="alert alert-success" style="width:50%"> <%= flash[:grading_level_notice] %> </div>
  <% end %>
 <div class="add_sub",style="margin-top:200px">
 <%= link_to 'Add Grades',new_batch_grading_level_path(@batch),remote: true%>
</div>
<% if @grading_levels.empty? %>
 <h4 align="center">No Record Found </h4>
   <% else %> 
   <table align="center" class="table table-hover" style="width:800px">
  <thead>
  	<tr class="tr-head">
        <th>Name</th>
        <th>Min Score</th>
        <th>Description</th>
        <th></th><th></th>
    </tr>
  </thead>

    <tbody class="product-index">
      <%= render 'index' %>
    </tbody>
   
</table>
<%end%>