<div class="page-header">
  <h1 class="pull-left">
    <i class="icon-chart"></i>
      <span>Exams</span>
      <small>Grading levels</small>
  </h1>
  <div class="pull-right">
    <ul class="breadcrumb">
      <li>
        <a href="setting">
        <i class="icon-gears"></i>
        Settings
        </a>
      </li>
        
          
      <li class="separator">
        <i class="icon-angle-right"></i>
      </li>
      <li class="active"><i class="icon-book"></i>
          Grades
      </li>
    </ul>
  </div>
</div>


<% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
<div class="row">
<div class="col-sm-6">
<%= form_for :batch, url:{action:'select'},method: :get,remote:true,html:{id: "batch_form"} do |f| %>
<%= f.select :id, @batches.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name, b.id]},{prompt:true},{onchange:"$('#batch_form').submit();",class: "select2 form-control select2-offscreen"} %>  
<%end%>
</div>
<div class="col-sm-6 pull-right" id="batch_div">
	
</div>

</div>

<div id="myModal" class="modal fade">
 </div>
</div></div>



