<table align="center" class="table table-hover table-bordered" style="width:500px">
<ul id="category-list">
<tbody>
<thead>
	<tr class="tr-head">
        <th>Name</th>
        <th>start date</th>
        <th>End date</th>
        <th></th>
    </tr>
</thead>
		
<% @batch.online_exams.each do |exam|%>
	
			<tr>
			<td><%=link_to exam.name,online_exams_display_path(exam)%></td>
			<td><%=exam.start_date.strftime("%v") %></td>
            <td><%=exam.end_date.strftime("%v")%></td>
            <td><%=link_to 'edit',  edit_online_exam_path(exam)%></td>
			</tr>
<%end%>
</tbody>
</ul>
</table>
