<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2></h2>
    </div>


<div class="box-content">
<table id="datatable" class="table table-striped table-bordered responsive">
   <% if @users.nil? or @users.empty? %>
<div align="center"><h4>No users found</h4></div>
<% else %>
        <thead>
          <th>Sl no.</th>
        
          <th>Name</th>
        
         <th>Username</th>
         <th></th>
      </thead>
         <tbody>
         
      <% @users.each_with_index do |user,i| %>
        <tr>
          <td >
            <%= i+1 %>
          </td>
          <td>
          <%=  user.first_name + " " + user.last_name %>
          </td>
          <td >
            <%= user.username %>
          </td>
          <td >
            <%= link_to 'View Profile' ,user_path(user)%>
          </td>

       </tr>
       <%end%>
       </tbody>
       <%end%>
       </table>
       </div>
       </div>
       </div>
       </div>
       
