<div class=" row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/students/admission1">
            <i class="glyphicon glyphicon-edit"></i>
            <div>Admission</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/students">
            <i class="glyphicon glyphicon-star"></i>
            <div>Student Details</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/users">
            <i class="glyphicon glyphicon-user"></i>
            <div>Manage Users</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/exams">
            <i class="glyphicon glyphicon-signal"></i>
            <div>Examinations</div>
        </a>
    </div>
</div>
<div class=" row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/setting">
            <i class="glyphicon glyphicon-cog"></i>
            <div>Settings</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/employees">
            <i class="glyphicon glyphicon-link"></i>
            <div>Human Resources</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/finance">
            <i class="glyphicon glyphicon-briefcase"></i>
            <div>Finance</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/time_tables">
            <i class="glyphicon glyphicon-time"></i>
            <div>Timetable</div>
        </a>
    </div>
</div>
<div class=" row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/attendences">
            <i class="glyphicon glyphicon-tasks"></i>
            <div>Attendance</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/calender">
            <i class="glyphicon glyphicon-calendar"></i>
            <div>Calendar</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/newscasts">
            <i class="glyphicon glyphicon-comment"></i>
            <div>Manage News</div>
        </a>
    </div>

     <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="well top-block" href="/placement_exams">
            <i class="glyphicon glyphicon-thumbs-up"></i>
            <div>Placement</div>
        </a>
    </div>
</div>
