<div class="row">

  <div class="box col-md-9">
    <div class="box-inner">
      
      <div class="box-content">
      <fieldset>
     <%@departments.each do |b|%>

     	<div class="form-group">
     	<%=check_box_tag "departments[]",b.id,false%>
		&nbsp;&nbsp;&nbsp;
		<b><%=b.name%></b>
	  
	   </div>

<% end %>
</fieldset>
</div>
</div>
</div>
</div>

