<h1>SETTING</h1>
<div style="height:400px">
<div class="btn btn-primary">Manage course/batch</div>
<div class="btn btn-primary">Manage subject</div>
<div class="btn btn-primary">Mangae student category</div>
<div class="btn btn-primary">General Setting</div>
</div>