<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4><%= @event.title %></h4>
			<%= @event.start_date.strftime('%d %b %y') %> - <%= @event.end_date.strftime('%d %b %y') %>
		</div>
		<div class="modal-body">
			<%= @event.description %>
		</div>
	</div>
</div>