  <div class="events">
        <div class="title">
          <div style='background:#00b400;'></div>
          <%= @event.title %></div>
        <div class="desc"><%= @event.description %></div>
      </div>
