  
<div data-toggle="tooltip" data-original-title="Default tooltip">
  <div style='margin-top:100px'  ></div>
  <h4><%= @event.title %></h4></div>
<div class="desc mycolor"><%= @event.description %></div>