<%= form_for :batch_select,url:{action: 'generate_archived_report'},method: :get do |f| %>
<div class="row">

    <div class="box col-md-6">

    <b>Select Batch:</b>
  
      <%= f.select :id, @batches.collect {|b| [b.name,b.id]}, {prompt:true},{class:"form-control",style: "width: 300px"}%>
  <br>
 <%= f.submit "View", class: "btn btn-default" %>
  <% end %>
  </div>
  </div>
