
<%= form_for :exam_group_select,url:{action: 'generate_exam_report'},method: :get do |f| %>
<div class="form-group">

  <b>Select Exam Group:</b>
    
      <%= f.select :id, @exam_groups.collect {|s| [s.name,s.id]}, {prompt:true},class:"form-control",style: "width: 300px"%>
      </div>
      <br>
      <div class="form-group">
 <%= f.submit "View", class: "btn btn-default" %>
 </div>
  <% end %>
  </div>