<%= form_for :exam_group_select,url:{action: 'generate_exam_report'},method: :get do |f| %>
 <div class="label-field-pair">
  <%= f.label :select_exam_group %>
      <div class="text-input-bg">
      <%= f.select :id, @exam_groups.collect {|s| [s.name,s.id]}, {prompt:true}%>
      </div></div>
 <%= f.submit "View", class: "btn btn-default" %>
  <% end %>