<% unless @batch.students.empty?  %>
  <div class="box-inner">
    <div class="box-header well">

    <h2>Students In Batch</h2>
  </div>
  <div class="box-content">
  <ul >
    <% @batch.students.each do |s| %>
      <li>
      <%=link_to s.full_name, student_exam_report_exam_report_path(@exam_group,s),remote:true%>
      </li>
    <% end %>
  </ul>
<% else %>
  <h4>Student Not Found</h4>
<% end %>
</div>
</div>
  