<% unless @students.empty?  %>
  <div class="list_name">
    <h4>Students In Batch</h4>
  </div><br/>
  <ul class="student_list">
    <% @students.each do |s| %>
      <li class="student_names">
        <%=link_to s.first_name+" "+s.last_name,exam_reports_student_report_path(s.batch,s),remote:true%>
      </li>
    <% end %>
  </ul>
<% else %>
  <h4>Students Not Found</h4>
<% end %>