<%= form_for :rank_report,url:{action: 'generate_ranking_report'},method: :get do |f| %>

  <b>Select a Subject:</b>

      <%= f.select :subject_id, @subjects.collect {|s| [s.name,s.id]}, {prompt:true},class:"form-control",style: "width: 300px"%>
      <br>

     <div class="col-md-offset-3"><%= f.submit "View", class: "btn btn-default" %></div>
    <% end %>