<%= form_for :subject_select,url:{action: 'generate_subject_report'},method: :get do |f| %>
 <div class="label-field-pair">
  <%= f.label :select_subject %>
      <div class="text-input-bg">
      <%= f.select :id, @subjects.collect {|s| [s.name,s.id]}, {prompt:true}%>
      </div></div>
 <%= f.submit "View", class: "btn btn-default" %>
  <% end %>