
<div id="content-header">
  <h1>Courses</h1>
  <h3>Home</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0),:back  %>
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br /><br />


<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to 'Manage Course' ,"/courses",style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
            Manage Courses and create batches
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
         <%= link_to 'Manage Batch' ,"/batches",style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           Manage active batches
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>
  

     