<div class="page-header" style="height:10%">
<div class="row">
<div class="col-md-6"><h2>Home</h2></div>
  <div class="col-md-6"><a href="/setting"><button class="btn btn-success pull-right" style="margin-top:20px">Back</button></a></div> 	
</div>
  
</div>


<div class="container" style="margin-top:100px">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-5">
			<div class="panel panel-danger" style="width:300px">
			<div class="panel panel-heading">
				<span><a href="/courses"><h4 style="color:black">Manage Courses</h4></a></span>
			</div>

  			<div class="panel-body" style="height:100px">
    			Add new  Courses for this academic year
  			</div>
			</div>		
</div>

<div class="col-md-5">
			<div class="panel panel-danger" style="width:300px">
			<div class="panel panel-heading">
				<span><a href="/batches"><h4 style="color:black">Manage Batch</h4></a></span>
			</div>

  			<div class="panel-body" style="height:100px">
    			Add new Batch for this academic year
  			</div>
			</div>		
</div>
	
</div>

</div>