<div class="page-header" style="height:10%">
<div class="row">
<div class="col-md-6"><h2>Configuration Home</h2></div>
  <div class="col-md-6"><a href="/home"><button class="btn btn-success pull-right" style="margin-top:20px">Back</button></a></div> 	
</div>
  
</div>


<div class="col-md-1"></div>
</div>
</div>

<div class="container" style="margin-top:50px">
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="col-md-5">
			<div class="panel panel-danger" style="width:300px">
			<div class="panel panel-heading">
				<span><a href="/setting/course_batch"><h4 style="color:black">Manage Courses/batches</h4></a></span>
			</div>
  			<div class="panel-body" style="height:100px">
    			Add new Course or Batch for this academic year
  			</div>
			</div>		
		</div>

		<div class="col-md-5">
			<div class="panel panel-danger" style="width:300px; margin-left:100px">
			<div class="panel panel-heading">
				<span><a href="/categories"><h4 style="color:black">Manage Student Category</h4></a></span>
			</div>

  			<div class="panel-body" style="height:100px">
    			Add Student  Category
  			</div>
			</div>		
		</div>

			
	</div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="col-md-5">
			<div class="panel panel-danger" style="width:300px">
			<div class="panel panel-heading">
				<span><a href="/subjects"><h4 style="color:black">Manage Subject</h4></a></span>
			</div>
  			<div class="panel-body" style="height:100px">
    			Manage Subjects Corresponding to different courses
  			</div>
			</div>		
		</div> 

		<div class="col-md-5">
			<div class="panel panel-danger" style="width:300px;margin-left:100px">
			<div class="panel panel-heading" >
				<span><a href="/general_settings/new"><h4 style="color:black">General Settings</h4></a></span>
			</div>

  			<div class="panel-body" style="height:100px">
    			Get some general Configuration related to institution etc
  			</div>
			</div>		
		</div>

			
	</div>
</div>

</div>
