 <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.code %></td>
        <!-- link to edit -->
          <td><%= link_to 'edit',edit_batch_subject_path(subject.batch,subject),remote: true, class: "btn btn-success"%></td>
        <!-- link to delete -->
          <td><%= link_to 'delete',[subject.batch,subject],remote: true,method: :delete,data:{confirm:'Are you sure want to delete?'}, class: "btn btn-danger"%></td>
        </tr>
      <% end %>   