<div> <%= link_to 'Add new Subjects',new_batch_subject_path(@batch),remote:true,class: "btn btn-primary" %></div>

 <div class="panel panel-default">
  <div class="panel-heading">Normal Subjects</div>
  <div class="panel-body">

  <table class="table" style="width:500px" >
    <thead>
      <tr>
        <th>Subject Name</th>
        <th>Subject Code</th>
      </tr>
    </thead>
  <tbody class="product-index">
      <%= render 'index' %>
    </tbody>
  </table>
</div>
</div>

<%= render 'elective_groups/elective_group' %>
