<div class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header"><h1>Subjects</h1></div></div></div>

<div align="center">
	<%= form_for :batch, url:{action:'select'},method: :get,remote:true do |f| %>
	<%= f.label :search %>
  <%= f.select :id, @batches.collect {|b| [b.name, b.id]}%>
  <%= f.submit "GO"%>
<% end %>
</div>
 
<div id="subject_div"></div>
 <div id="myModal" class="modal fade">
 </div>
