<div class="navbar navbar-default"><div class="container-fluid">
    <div class="navbar-header"><h1>Subjects</h1></div></div></div>
  <div><%= notice %></div>

<label>Select a batch:</label>
 <%= select(:batch, :batch_id, Batch.all.collect {|p| [p.name,@p=p.id]},prompt:true) %>
 
 <div> <%= link_to 'Add new Subjects',new_batch_subject_path(@p)%></div>
 <div class="panel panel-default">
  <div class="panel-heading">Normal Subjects</div>
  <div class="panel-body">

  <table class="table" style="width:500px" >
    <thead>
      <tr>
        <th>Subject Name</th>
        <th>Subject Code</th>
      </tr>
    </thead>
    <tbody class="product-index">
     <!--  <= render "index" > -->
    </tbody>
  </table>
</div>
<div id="product-modal" class="modal hide fade"></div>
</div>
</div>
 </div>

<div><%= link_to 'Add new Elective Groups',new_batch_elective_group_path(@p) %>
<!-- <= render '/elective_groups/elective_group' > -->
</div>

  