
<table align="center" class="table table-hover" style="width:800px">
        <tr class="tr-head"><th colspan="4">Name</th>
        </tr>
        
      <tbody>
        <% @exam_groups.each do |eg|%>

        <tr>
        <td class="col-2"><%= link_to eg.name ,exam_groups_exams_path(eg) %></td>
        <td><%= link_to 'delete' ,''%></td>
        <td class="col-4"><%= link_to 'Publish exam schedule',exam_groups_publish_exam_path(eg), remote:true %></td>
        <td>
        <%= 'Exam schedule published' if eg.is_published? %>
        </td>
       </tr>
        <%end%>
      </tbody>
</table>