  <%= form_for :batch, url:{action:'previous_exam_group'},method: :get,remote:true,html:{id: "batch_form"}  do |f| %>
  <div class="label-field-pair">
  <%= f.label :select_batch %>
  <div class="text-input-bg">
  <%= f.select :id, @batches.collect {|b| [b.name,b.id]}, {prompt:true},{onchange:"$('#batch_form').submit();"}%>
</div></div>
<% end %>
<div id="exam_div">

</div>