
<fieldset>
   <%= form_for @exam_group,url: {action: 'update'} ,method: :patch,remote: true do |f|%>
        <div class="form-group">
           <b>Name:</b>
           <%=f.text_field :name ,style: "width: 250px", class: "form-control", required: true%>
        </div>

         <div class="form-group">
          <b>Type:</b>
           <%= f.select :exam_type,["Marks","Grades","Marks and Grades"],{prompt:true},{class: "form-control",style: "width: 250px"}%>
         </div>
         <br>
          <div class="form-group">
          <div align="center">
            <%= f.submit 'Submit', class: "btn btn-primary"%>
        </div>
   </div>
<% end %>
</fieldset>





