
<% unless @exams.nil?%>
<table align="center" class="table table-hover" style="width:800px">
<ul id="category-list" >
<tbody>
<thead>
  <tr class="tr-head">
      <td>Subject Name</td>
	  <td>Maximum Marks</td>
	  <td>Minimum Marks</td>
  </tr>
</thead>
<% @exams.each do |exam| %>

  <tbody class="product-index">

      	<tr>
      	<td><%= link_to link_to exam.subject.name , exam_groups_previous_exam_scores_path(exam) %></td>	
		<td><%= exam.maximum_marks%><td>
		<td><%= exam.minimum_marks%><td>
		</tr>
    </tbody>

<%end%>
 </table>
<%else%>
<h3>NO Record Found</h3>
<%end%>