<table align="center" class="table table-hover" style="width:800px">
<% unless @exams.empty?%>
  <tr class="tr-head">
    <td>Subject Name</td>
	  <td>Maximum Marks</td>
	  <td>Minimum Marks</td>
  </tr>
  <% @exams.each do |exam| %>
      	<tr>
      	<td><%= link_to exam.subject.name , exam_groups_previous_exam_scores_path(exam) %></td>	
		<td><%= exam.maximum_marks%><td>
		<td><%= exam.minimum_marks%><td>
		</tr>
  <%end%>
<%else%>
<tr><th colspan="3"><h4 align="center">NO Record Found</h4></th></tr>
<%end%>
</table>
