<div id="content-header">
  <h1>Exam Management</h1>
  <h3>New Exam</h3>
  <div id="app-back-button">
 <%= link_to image_tag("buttons/back.png",:border => 0), "setting/course_batch" %>
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div>  
</div>

<div id="form_exam">
<%= render 'form' %>	
</div>
