<div class="row">
  <div class="col-sm-4 ">
    <div class="form-group">
      <b>Select Question Type:</b>
      <span style="color:red">*</span>
      <%= select_tag(:option,options_for_select([['Technical'],['Arithmetic'],['Reasoning']]),class: "form-control" )%>
    </div>
  </div>
  <div class="col-sm-4 ">
    <div class="form-group">
      <b>Percentage:</b>
      <span style="color:red">*</span>
      <%= text_field_tag 'user',"",class: "form-control"%>
    </div>
  </div>
</div>