<% if @batch_groups.empty? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
 <table align="center" class="table table-hover table-bordered" style="width:500px">
				<tr class="tr-head"><th colspan="3">Batch Group Name</th>
        </tr>
				
			<tbody>
				<% @batch_groups.each do |bg|%>
	
				<tr>
				<td class="col-2"><%= bg.name %></td>
				<td><%= link_to 'Edit',courses_edit_batch_group_path(bg)%></td>
				<td><%= link_to 'Delete',courses_delete_batch_group_path(bg),method: :delete, data:{confirm:"Are you sure to delete Batch Group '#{bg.name}' ?"}%></td>
				</tr>
				<%end%>
        	</tbody>
        	</table>
  <% end %>