<div class="page-header">
  <h1 class="pull-left">
    <i class="icon-gears"></i>
      <span>settings</span>
      <small>courses</small>
  </h1>
  <div class="pull-right">
    <ul class="breadcrumb">
      <li>
        <a href="setting">
        <i class="icon-gears"></i>
        Settings
        </a>
      </li>
        
          
      <li class="separator">
        <i class="icon-angle-right"></i>
      </li>
          <li class="active"><i class="icon-book"></i>
          courses
          </li>
        </ul>
      </div>

</li>
</ul></div></div></div>

<div id="view_details">
  <%= render 'view' %>
</div>

<div id="editmodal" class="modal fade">
</div>
  