
<% @courses.each do |disp| %>
<table>
	<tr>

	<td style="width:200px;"><%=disp.course_name%></td>
	
	<td style="width:70px;"><%=disp.section_name%></td>
	<td style="width:70px;"><%= link_to 'edit',edit_course_path(disp) %></td>
	<td style="width:70px;"><%= link_to 'destroy',course_path(disp), method: :delete, data:{confirm: 'Delete data?'} %></td>
	</tr>
</table>
<%end%>