
<% @courses.each do |disp| %>
<table>
	<tr>

	<td ><%=disp.course_name%></td>
	
	<td ><%=disp.section_name%></td>
	<td ><%= link_to 'edit',edit_course_path(disp) %></td>
	<td ><%= link_to 'destroy',course_path(disp), method: :delete, data:{confirm: 'Delete data?'} %></td>
	</tr>
</table>
<%end%>