
<table align="center" class="table" style="width:500px">
<ul id="category-list">
<tbody>
<thead>
	<tr><th>Batch</th>
		</tr>
</thead>
		
<% @course.batches.each do |batch|%>
	
			<tr>
			<td><%=link_to batch.course.code+" "+batch.course.section_name+" - "+batch.name , batches_display_path(batch) %></td>
			</tr>
<%end%>
</tbody>
</ul>
</table>