<div class="row">
  <div class="box col-md-6">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Employees List</h2>
      </div>
      
    <div class="box-content" style="overflow-y: scroll; height:auto" >
      <table id="datatable" class="table table-striped table-bordered responsive">
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Action</th>
          </tr>
        </thead>
         <tr><td colspan="2"><%=employee_not_found!%></td></tr>
        <tbody>
     <% @employees.each do |emp| %>
          <tr>
            <td><%=emp_find(emp)%></td>
            <td class="center">
              <%= link_to "Assign",assign_employee_batch_path(@batch,emp),method: :post,remote:true%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
 <div class="box col-md-6">
	<div id="assigned_emp">
		<%=render 'assigned_emp_list'%>
	</div>
  </div>
</div>