<% if @users.nil? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
<% if @users.empty? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
 <div class="col-md-1"></div>
  <% @users.each_with_index do |user| %>
    <div id="ajax_result">
      <%= link_to user.first_name+' '+user.last_name, user_path(user) %><br />
      <small>UserName <%= user.username %></small><br />
      <small>Email-Id <%= user.email %></small><br />
      <small>Role <%= user.role %></small>
    </div>
    <div class="col-md-1"></div>
  <% end %>
  <% end %>
  <%end%>
