/*html {
    height:100%; 
    max-height:100%;
    padding:0;
    margin:0; 
    border:0; 
    overflow:hidden; 
    color: green;
}

body {
    margin-top: 100px;
    background-color: #222;
    max-height: 100px;
}

#container-outer{
    width: 100%;    
}

.content{
    height: 100%;
    overflow: hidden;
}
.content-header{
    margin-top: 20px;
}
#wrapper {

    overflow:hidden; 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 150px;
}

#page-wrapper {
    padding-top: 30px;
    background-color: #fff;
    height: 100%;
    max-height: 100%;
    overflow: hidden !important;
    
}

#wrapper.toggled #page-wrapper {
    position: static;
}

#hide-left {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height:100%;
    margin-left: -265px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #hide-left {
    width: 250px;
}

/* sidebar Styles */

.side-nav {
        position: absolute;
        top: 20px;
        width: 100%;
        margin: 0;
        padding-top: 30px;
        list-style: none;
        height:100%;
        border: none;
        border-radius: 0;
        overflow:hidden;
        background-color: #222;
    }

.side-nav>li>a {
        width: 225px;
        display: block;
        text-decoration: none;
        color: #999999;
    }

.side-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.side-nav li a:hover {
    outline: none;
    background-color: #000 !important;
    text-decoration: none;
    color: #fff;
}

.side-nav li a:active,
.side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
}

.side-nav > .active {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.side-nav > .active a {
    color: #999999;
}

.side-nav > .active a:hover {
    color: #fff;
    background: none;
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}



/*customised boot*/
.navbar-inverse{
     background-color: #00ffff;
      
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
    border-radius: 5px 5px 5px 5px;

}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;

}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}
/*space*/
.space{
    height:40px;
}

.login  {

background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(left, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* text-indent: 6-9 */
}

*/