<% if @employee.nil? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
<% if @employee.empty? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
 <div class="col-md-1"></div>
      <table align="center" class="table table-hover" style="width:1000px">
      <tr>
            <th>Employee Name</th>
            <th>Employee Id</th>
            <th>Employee Deprtment</th>
      </tr>

      <%@employee.each do |emp|%>
          <tr>
                <td col-md-1><%=link_to emp.first_name,employee_attendances_employee_leave_detail_path(emp.id)%></td>
                <td col-md-1><%= emp.employee_number%></td>
                <td col-md-1><%= emp.employee_department.name%></td>
         </tr>
      <%end%>  
      </table>
  <% end %>
  <%end%>