<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2>Employee list</h2>
    </div>

    <div class="box-content">
      <% if @employees.empty? %>
  <h4 align="center">No Record Found </h4>
   <% else %>
      <table id="datatable" class="table table-striped table-bordered responsive">
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% @employees.each do |employee| %> 
          <tr>
            <td>
              <%=  employee.first_name+" "+employee.last_name  %>
            </td>
            <td class="center">
              <%= check_box_tag "employees[]", employee.id,false,class: 'check_box'%><b>Assign</b>
            </td>
          </tr>
        <% end %>
       
        </tbody>
      </table>
    </div>

  </div>
  </div>
<%end%>
</div>