<div id="content-header">
   <hr class="fancy-line"></hr>
  <h1>Leave types</h1>
  <h3>Add new leave types</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), "" %>
  </div>
</div>

<div id="page-yield">
<div id="box">
  <div id="add_leave_type">
    <%=render 'employee_leave'%>
  </div>
  <div id="myModal" class="modal fade">
  </div>
 </div></div>