<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2>Elective Subject</h2>
    </div>
    <div class="box-content">
      <table id="datatable" class="table table-striped table-bordered responsive">
        <thead>
          <tr>
            <th>Elective-Subject Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% @elective_subjects.each do |subject| %>
          <tr>
            <td>
              <%= subject.name+" - "+subject.code %>
            </td>
            <td class="center">
              <div class="label-success label label-default">
              <i class="glyphicon glyphicon-edit icon-white"></i> 
              <%= link_to 'edit',edit_batch_elective_group_subject_path(@elective_group.batch,@elective_group,subject),remote:true,class: "a-action"%></div>
              <div class="label-danger label label-default">
              <i class="glyphicon glyphicon-trash icon-white"></i> 
              <%= link_to 'delete',[@elective_group.batch,@elective_group,subject],remote:true,method: :delete, data:{confirm:"Are you sure to delete elective subject: #{subject.name}?"}, class: "a-action"%></div>

              <div class="label-primary label label-default">
              <i class="glyphicon glyphicon-list-alt icon-white"></i>
              <%= link_to 'Assign Students',elective_student_path(subject), class: "a-action" %></div> 
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
