<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @qusetion_type.type %>
</p>

<%= link_to 'Edit', edit_qusetion_type_path(@qusetion_type) %> |
<%= link_to 'Back', qusetion_types_path %>
