

<!-- name -->
<div class="row" style="margin-top:40px">
<div class="col-md-1"></div>
<div class="col-md-10">
	<div class="col-md-2"></div>
	<div class="col-md-2">
		Name
	</div>
	<div class="col-md-2">
		<%=@exam_group.name%>		
	</div>
</div>
<div class="col-md-1"></div>	
</div>

	
<!-- type -->
<div class="row" style="margin-top:10px">
<div class="col-md-1"></div>
<div class="col-md-10">
	<div class="col-md-2"></div>
	<div class="col-md-2">
		Exam type
	</div>
	<div class="col-md-2">
		<%=@exam_group.exam_type%>		
	</div>
	<div class="col-md-2">
		<a href="" >change type</a>
	</div>
</div>
<div class="col-md-1"></div>	
</div>
<!-- maximum marks -->
<div class="row" style="margin-top:10px">
<div class="col-md-1"></div>
<div class="col-md-10">
	<div class="col-md-2"></div>
	<div class="col-md-2">
		maximum marks
	</div>
	<div class="col-md-2">
		
	</div>
	
</div>
<div class="col-md-1"></div>	
</div>
<!-- minimum marks -->
<div class="row" style="margin-top:10px">
<div class="col-md-1"></div>
<div class="col-md-10">
	<div class="col-md-2"></div>
	<div class="col-md-2">
		minimum marks
	</div>
	<div class="col-md-2">
		
	</div>
	
 </div>
<div class="col-md-1"></div>	
</div>

<!--table for subjects  -->
<div class="container">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<h3>Exam Releted Details Here</h3>				
<div class="table">
<th>Subject</th>
	<th>Max marks</th>
	<th>Min marks</th>
	<th>Start time</th>
	<th>End time</th>
	<th>Do no create</th>

<tr>
<% @subjects.each do |subject| %>
<%= subject.name %>
</tr>
<%end%>
</div>
</div>


<div class="col-md-1"></div>
</div>
</div>

