

<%= form_for :subject, url:{action:'select'},method: :get,remote:true ,html:{id: "form"} do |f| %>

<b>Select Subject:</b>

<%= f.select :id, @subjects.collect {|b| [b.name,b.id]},{prompt:true},{onchange:"$('#form').submit();",class:"form-control",style: "width: 300px"}%>
<%end%>
</div><br/><br/><br/>
<div id="attendence"></div>

