<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li>Attendance</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Attendance Register",'attendences/attendence_register'%></h2>
      </div>
      <div class="box-content">
         Attendance register for students
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Attendance Report",'attendences/report' %>
        </h2>
      </div>
      <div class="box-content">
         Attendance report of students
      </div>
    </div>
  </div>
</div>



















    