<div id="content-header">
  <h1>Attendance</h1>
  <h3>Attendance Home</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
    <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Attendance Register",'attendences/attendence_register',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
            Attendance register for students
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Attendance Report",'',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           Attendance report of students
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>
  </div>



    