
.submit_button {
    margin-top:30px;
    margin-left:150px;
    padding: 9px 11px;
    color: blue;
    background: #97312c;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    font-weight: bold;
    font-size: 13px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #273B2F;
}
