 <div class="row">
          <div class="col-md-3"><%= label_tag :admission_no %></div>
          <div class="col-md-3"><%= text_field_tag :admission_no,'',:style =>"width: 250px",class: "form-control" %></div>
      </div>