 <div class="link-box">
        <div class="link-heading"><%= link_to "Create",finance_add_automatic_transaction_path,remote:true %></div>
        <div class="link-descr">Creates an auto transaction</div>
 </div></br></br></br></br></br>