<% unless @students.nil?%>
<table align="center" class="table table-hover table-bordered" style="width:80%">
	<tr class="tr-head">
		<th>Sl no</th>
		<th>Name</th>
		<th>Batch</th>
		<th>Admission no</th>
	</tr>
		<% @students.each_with_index do |s,i|%>
			<tr>
				<td class="col-3"><%= i+1 %></td>
				<td class="col-3"><%= link_to s.first_name+" "+s.last_name,finance_fee_collection_structure_path(id:s.id)%></td>
				<td class="col-3"><%= s.batch.course.course_name+" - "+s.batch.name%></td>
				<td class="col-3"><%= s.admission_no%></td>
			</tr>
		<%end%>
</table>
<%else%>
<h5>No Students Found</h5>
<%end%>