
<div id="content-header">
  <h1>Asset Liability Management</h1>
  <h3>Assets</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
    <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">
<div id="box">

      <div class="link-box">
        <div class="link-heading"><%= link_to "Create",new_asset_finance_index_path,remote:true%></div>
        <div class="link-descr">Creates new asset</div>
      </div>view_ass

    
      <div class="link-box">
        <div class="link-heading"><%= link_to "View",view_asset_finance_index_path%></div>
        <div class="link-descr">Asset View</div>
      </div>
</div>
<div id="myModal" class="modal fade"></div>
</div>
