
<div id="content-header">
  <h1>Asset Liability Management</h1>
  <h3>New liability</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), '/finance/asset_liability' %>
  </div>
    <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">
<div id="new_liability">
	<%= render 'new_liability_all'%>
</div>

<div id="myModal" class="modal fade">
 </div>
</div>

