<div class="row">
  <div class="col-lg-12" align="center">
    <% if notice %>
      <div class="alert alert-success alert-dismissable">
        <a class="close" data-dismiss="alert" href="#">×
        </a>
        <i class="icon-ok-sign"></i>
        <i><%= notice %></i>
      </div>
    <% end %>
    <% if alert %>
  <div class="alert alert-danger ">
      <div class="alert alert-danger alert-dismissable">
        <a class="close" data-dismiss="alert" href="#">×
        </a>
        <i class="icon-ok-remove"></i>  
        <i><%= alert %></i>
  </div>
    <% end %>
  </div>
</div>