
<div class="page-header">
<div class="row"> 
<div class="col-md-2 col-xs-2">
<%= image_tag GeneralSetting.first.image%></div>
<div class="col-md-10 col-xs-10" align="right">
<!-- <h1><= GeneralSetting.first.school_or_college_name%><small></small></h1> -->
</div></div>
</div>
<div id='cssmenu'>
  <ul>
     <li><a href='/home/dashboard'><span>Dashboard</span></a></li>
     <li class='active has-sub'><a href='#'><span>Students</span></a>
      <ul>
       <li><a href='/students/admission1'><span>Addmission</span></a>
       </li>
       <li><a href='/students'><span>Student Details</span></a>
       </li>
      </ul>
     </li>
     <li><a href='#'><span>Attendance</span></a></li>
     <li class="active has-sub"><a href="/setting"><span>Settings</span></a>
      <ul>
      
    <li><span><a href="/setting/course_batch">Manage Course/Batch</a></span>
    </li>
       <li><span><a href="/categories">Student category</a></span></li>
      <li><span><a href="/subjects">Manage Subject</a></span></li>
      <li><span><a href="/general_settings/new">General Settings</a></span></li>
      </ul>
      </li>

     <li class='last'><a href='/time_tables'><span>Timetable</span></a></li>
     <li class='active has-sub last'><a href='#'><span>More</span></a>
     <ul>
       <li><a href='/calender'><span>Calender</span></a></li>
       <li><a href='/users'><span>Manage User</span></a></li>
       <li><a href='/employees'><span>Human Resources</span></a></li>
       <li><a href='/exams'><span>Examinations</span></a></li>
       <li><a href='/finance'><span>Finance</span></a></li>
      </ul>
      </li>
  </ul>
</div>