<div class="page-header">
	<h1> Axenic School <small> Building Future </small></h1>	
</div>
<div id='cssmenu'>
	<ul>
	   <li><a href='#'><span>Dashboard</span></a></li>
	   <li class='active has-sub'><a href='#'><span>Students</span></a>
		  <ul>
			 <li class='has-sub'><a href='#'><span>Product 1</span></a>
				<ul>
				   <li><a href='#'><span>Sub Product</span></a></li>
				   <li class='last'><a href='#'><span>Sub Product</span></a></li>
				</ul>
			 </li>
			 <li class='has-sub'><a href='#'><span>Product 2</span></a>
				<ul>
				   <li><a href='#'><span>Sub Product</span></a></li>
				   <li class='last'><a href='#'><span>Sub Product</span></a></li>
				</ul>
			 </li>
		  </ul>
	   </li>
	   <li><a href='#'><span>Attendance</span></a></li>
	   <li class="active has-sub"><a href="#"><span>Settings</span></a>
	   	<ul>
			 <li><a href="/courses"><span>Manage course</span></a></li>
			 <li><span><a href="/batches">Manage batch</a></span></li>
			 <li><span><a href="/categories">Student category</a></span></li>
			<li><span><a href="/subjects">Manage Subject</a></span></li>
			<li><span><a href="/general_settings/new">General Settings</a></span></li>
			<li><span><a href="/">Additional details</a></span></li>		   
			<li><span><a href="/">SMS module</a></span></li>
				
			
			 
		  </ul>
		  </li>

	   <li class='last'><a href='#'><span>Timetable</span></a></li>
	   <li class='last'><a href='#'><span>More</span></a></li>
	</ul>
</div>

