<header>
      <nav class="navbar navbar-default">
        <a class="navbar-brand" href="#">
            <label>Axenic School</label>
        </a>
        <a class="toggle-nav btn pull-left">
          <i class="icon-reorder"></i>
        </a>
    <% if user_signed_in? %>
        <ul class="nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" >
              <i class="fa fa-cogs"></i>
            </a>
        </li>
        <li class="dropdown medium only-icon widget">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
              <i class="icon-rss"></i>
              <div class="label">5</div>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="">
                  <div class="widget-body">
                    <div class="pull-left icon">
                      <i class="icon-user text-success"></i>
                    </div>
                    <div class="pull-left text">
                      John Doe signed up
                      <small class="text-muted">just now</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="">
                  <div class="widget-body">
                    <div class="pull-left icon">
                      <i class="icon-inbox text-error"></i>
                    </div>
                    <div class="pull-left text">
                      New Order #002
                      <small class="text-muted">3 minutes ago</small>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown dark user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <span class="user-name"><%= current_user.username %></span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/users/edit">
                  <i class="icon-user"></i>
                  Profile
                </a>
              </li>
               <li class="divider"></li>
              <li>
                <a href="/users/sign_out" data-method="delete">
                  <i class="icon-signout"></i>
                  Sign out
                </a>
              </li>
            </ul>
          </li>
        </ul>
  <%end%>
      </nav>
</header>

    <div id="wrapper">
      <div id="main-nav-bg"></div>
      <nav id="main-nav">
        <div class="navigation">
          <ul class="nav nav-stacked">
            <li class="active">
               <a href="http://localhost:3000/home/dashboard">
               <i class="icon-dashboard"></i>
                <span>Dashboard</span>
               </a>
            </li>
            <li class="">
              <a href="http://localhost:3000/students/admission1">
              <i class="icon-edit"></i>
                <span>Admission</span>
              </a>      
            </li>
            <li class="">
              <a href="http://localhost:3000/students">
                <i class="icon-star"></i>
                <span>Student details</span>
              </a>
            </li>
            <li class="">
              <a href="http://localhost:3000/users">
                <i class="icon-user"></i>
                <span>Manage Users</span>
              </a>
            </li>
            <li class="">
              <a href="http://localhost:3000/exams">
                <i class="icon-bar-chart"></i>
                <span>Examinations</span>
              </a>
            </li>
            <li class="">
              <a href="http://localhost:3000/setting">
                <i class="icon-cogs"></i>
                <span>Settings</span>
              </a>
            </li>
            <li class="">
              <a href="http://localhost:3000/employees">
                <i class="icon-link"></i>
                <span>Human Resources</span>
              </a>
            </li>
            <li class="">
              <a href="http://localhost:3000/finance">
                <i class="icon-rupee"></i>
                <span>Finance</span>
              </a>
            </li>
            <li>
              <a class="dropdown-collapse" href="./Educulture_files/Educulture.html">
                <i class="icon-folder-open-alt"></i>
                <span>More</span>
                <i class="icon-angle-down angle-down"></i>
              </a>
              <ul class="nav nav-stacked">
                <li>
                 <a href="http://localhost:3000/time_tables">
                    <i class="icon-caret-right"></i>
                    <span>Timetable</span>
                  </a>
                </li>
                <li>
                  <a href="http://localhost:3000/attendences">
                    <i class="icon-caret-right"></i>
                    <span>Attendance</span>
                  </a>
                </li>
                <li>
                  <a href="http://localhost:3000/calender">
                    <i class="icon-caret-right"></i>
                    <span>Calender</span>
                  </a>
                </li>               
                <li>
                  <a href="http://localhost:3000/newscasts">
                    <i class="icon-caret-right"></i>
                    <span>Manage News</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <section id="content">
        <div class="container">
          <div class="row" id="content-wrapper">
          <div class="col-xs-12">
          <div id="flash"><%= render 'layouts/flash_messages'%></div>

                <%= yield %>
          </div>   
          </div>
          
        </div>
    </section>

</div>


   <!--  <footer id="footer">
            <div class="footer-wrapper">
              <div class="row">
                <div class="col-sm-6 text">
                  Copyright © 2014 Axenic School
                </div>
              </div>
            </div>
    </footer> -->