<div class="col-sm-2 col-lg-2">
<div class="sidebar-nav">
<div class="nav-canvas">
  <div class="nav-sm nav nav-stacked">
  </div>
    <ul class="nav nav-pills nav-stacked main-menu">
        <li class="nav-header">Main</li>
        <li class="ajax-link">
          <a href="/home/dashboard">
            <i class="glyphicon glyphicon-home"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/newscasts">
          <i class="glyphicon glyphicon-comment"></i>
            <span>Campus News</span>
          </a>      
        </li>
        <li>
          <a href="/time_tables">
            <i class="glyphicon glyphicon-time"></i>
            <span>Timetable</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="glyphicon glyphicon-bell"></i>
            <span>Remainders</span>
          </a>
        </li>
        <li>
          <a href="/students/report.<%= current_user.student_id%>">
            <i class="glyphicon glyphicon-th"></i>
            <span>Academics</span>
          </a>
        </li>
        <li>
          <a href="#">
          <i class="glyphicon glyphicon-book"></i>
            <span>Library</span>
          </a>
        </li>
        <li>
          <a href="/calender">
            <i class="glyphicon glyphicon-calendar"></i>
            <span>Calender</span>
          </a>
        </li> 
         <li>
          <a href="/placement_exams">
            <i class="glyphicon glyphicon-thumbs-up"></i>
            <span>Placement</span>
          </a>
        </li>                
      </ul>
    </div>
  </div>
</div>