<div class="col-sm-2 col-lg-2">
<div class="sidebar-nav">
<div class="nav-canvas">
  <div class="nav-sm nav nav-stacked">
  </div>
    <ul class="nav nav-pills nav-stacked main-menu">
        <li class="nav-header">Main</li>
        <li class="ajax-link">
          <a href="/home/dashboard">
            <i class="glyphicon glyphicon-home"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/students/admission1">
          <i class="glyphicon glyphicon-edit"></i>
            <span>Admission</span>
          </a>      
        </li>
        <li>
          <a href="/students">
            <i class="glyphicon glyphicon-star"></i>
            <span>Student details</span>
          </a>
        </li>
        <li>
          <a href="/users">
            <i class="glyphicon glyphicon-user"></i>
            <span>Manage Users</span>
          </a>
        </li>
        <li>
          <a href="/exams">
            <i class="glyphicon glyphicon-signal"></i>
            <span>Examinations</span>
          </a>
        </li>
        <li>
          <a href="/setting">
            <i class="glyphicon glyphicon-cog"></i>
            <span>Settings</span>
          </a>
        </li>
        <li>
          <a href="/employees">
            <i class="glyphicon glyphicon-link"></i>
            <span>Human Resources</span>
          </a>
        </li>
        <li>
          <a href="/finance">
          <i class="glyphicon glyphicon-briefcase"></i>
            <span>Finance</span>
          </a>
        </li>                
        <li>
          <a href="/time_tables">
            <i class="glyphicon glyphicon-time"></i>
            <span>Timetable</span>
          </a>
        </li>
        <li>
          <a href="/attendences">
          <i class="glyphicon glyphicon-tasks"></i>
            <span>Attendance</span>
          </a>
        </li>
        <li>
          <a href="/calender">
            <i class="glyphicon glyphicon-calendar"></i>
            <span>Calender</span>
          </a>
        </li>               
        <li>
          <a href="/newscasts">
            <i class="glyphicon glyphicon-comment"></i>
            <span>Manage News</span>
          </a>
        </li>
          <li>
          <a href="/placement_exams">
            <i class="glyphicon glyphicon-thumbs-up"></i>
            <span>Placement</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>