<div class="row">
  <div class="col-lg-12" align="center">
    <% if notice %>
      <div class="alert alert-success alert-dismissable">
        <i><%= notice %></i>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger alert-dismissable">
        <i><%= alert %></i>
      </div>
    <% end %>
  </div>
</div>