<header>
      <nav class="navbar navbar-default">
        <a class="navbar-brand" >Axenic school
        </a>
        <a class="toggle-nav btn pull-left" href="">
          <i class=" fa fa-reorder"></i>
        </a>
        <ul class="nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" >
              <i class="fa fa-cogs"></i>
            </a>
            <li class="dropdown medium only-icon widget">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
              <i class="icon-rss"></i>
              <div class="label">5</div>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="">
                  <div class="widget-body">
                    <div class="pull-left icon">
                      <i class="icon-user text-success"></i>
                    </div>
                    <div class="pull-left text">
                      John Doe signed up
                      <small class="text-muted">just now</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="">
                  <div class="widget-body">
                    <div class="pull-left icon">
                      <i class="icon-inbox text-error"></i>
                    </div>
                    <div class="pull-left text">
                      New Order #002
                      <small class="text-muted">3 minutes ago</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="">
                  <div class="widget-body">
                    <div class="pull-left icon">
                      <i class="icon-comment text-warning"></i>
                    </div>
                    <div class="pull-left text">
                      America Leannon commented Flatty with veeery long text.
                      <small class="text-muted">1 hour ago</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="">
                  <div class="widget-body">
                    <div class="pull-left icon">
                      <i class="icon-user text-success"></i>
                    </div>
                    <div class="pull-left text">
                      Jane Doe signed up
                      <small class="text-muted">last week</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="">
                  <div class="widget-body">
                    <div class="pull-left icon">
                      <i class="icon-inbox text-error"></i>
                    </div>
                    <div class="pull-left text">
                      New Order #001
                      <small class="text-muted">1 year ago</small>
                    </div>
                  </div>
                </a>
              </li>
              <li class="widget-footer">
                <a href="">All notifications</a>
              </li>
            </ul>
          </li>
           
          <li class="dropdown dark user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
             User name 
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="">
                  <i class="fa fa-user"></i>
                  Profile
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-cogs"></i>
                  Settings
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="">
                  <i class="icon-signout"></i>
                  Sign out
                </a>
              </li>
            </ul>
          </li>
        </ul>
        
      </nav>
</header>

<div class="wrapper">
 <div id="main-nav-bg"></div>
      <nav id="main-nav">        
            <ul class="nav nav-stacked">
              <li class="active">
                        <a class="dropdown-collapse" href="">
                        <i class="fa fa-th"></i>
                        <span><%= t('dashboard')%></span>
                        <i class="fa fa-angle-down angle-down"></i>
                        </a>

                <ul class="nav nav-stacked">
                  <li class="">
                    <a href="">
                      <i class="icon-caret-right"></i>
                      <span>Form styles and features</span>
                    </a>
                  </li>
                  <li class="">
                    <a href="">
                      <i class="icon-caret-right"></i>
                      <span>Form components</span>
                    </a>
                  </li>
                  <li class="">
                    <a href="">
                      <i class="icon-caret-right"></i>
                      <span>Validations</span>
                    </a>
                  </li>
                  <li class="">
                    <a href="">
                      <i class="icon-caret-right"></i>
                      <span>Wizard</span>
                    </a>
                  </li>
                </ul>
            </li>
          </ul>  

          <ul class="nav nav-stacked">
            <li class="">
                    <a href="">
                      <i class=" fa fa-institution"></i>
                      <span>Adacemics</span>
                    </a>
                  </li>
          </ul>

      </nav>

     <section id="content">
      <div class="container">
        <div class="row" id="content-wrapper">
        <%= yield %>
        </div>
      </div>
     </section> 
</div>

