<div class="row">
  <div class="col-md-11">
    <div class="pull-right">
      <%= link_to 'Add', new_batch_class_timing_path(@batch),remote: true,class: "btn btn-primary"%>
    </div>
  </div>
</div>
<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2>Class Timing Details</h2>
    </div>

    <div class="box-content">
      <table id="datatable" class="table table-striped table-bordered responsive">
        <thead>
          <tr>
           <th>Name</th>
           <th>Start time</th>
           <th>End time</th>
           <th>Operation</th>
           <th></th>
           <th></th>
          </tr>
        </thead>
        <tbody>
               <%= render 'index' %>
        </tbody>
      </table>
    </div>

  </div>
  </div>

</div>